---
import Layout from '../layouts/Layout.astro';
import Card from "../components/card.astro";
import TextImageSection from "../components/textImageSection.astro";
import Gerald from "../assets/gerald_profile.webp"
import Bernd from "../assets/bernd_profile.webp"
import Juergen from "../assets/juergen_profile.webp"
import Toast from "../components/toast.astro";
import Cta from "../components/cta.astro";

interface Event {
    Date: Date;
    Time: string;
    Event: string,
    Location: string;
    Link: string;
}

const events: Event[] = [
    {
        Date: new Date("2025-07-04"),
        Time: "19:30",
        Event: "Gondelfest in Bobenheim-Roxheim",
        Location: "Gondelfest in Bobenheim-Roxheim (Festplatz am Altrhein)",
        Link: "https://www.bobenheim-roxheim.de/gemeinde_bobenheim_roxheim/B%C3%BCrgerservice/Veranstaltungskalender/2025/04.07.2025%20-%2007.07.2025%20Gondelfest/",
    },
    {
        Date: new Date("2025-09-20"),
        Time: "19:30",
        Event: "Kerwe in Heuchelheim",
        Location: "Kerwe in Heuchelheim/ Kerweplatz",
        Link: "https://heuchelheimbeifrankenthal.de/2024/01/06/termine-2024/",
    },
    {
        Date: new Date("2025-09-26"),
        Time: "19:30",
        Event: "Kerwe in Bobenheim-Roxheim",
        Location: "Kerwe in Bobenheim-Roxheim (Kerweplatz am Rathaus)",
        Link: "https://www.bobenheim-roxheim.de/gemeinde_bobenheim_roxheim/B%C3%BCrgerservice/Veranstaltungskalender/2025/26.09.2025%20-%2029.09.2025%20Kerwe%20Bobenheim-Roxheim/",
    }
];
---

<Layout title="Holidays 2.0 – Cover-Band aus Bobenheim-Roxheim für regionale Feste"
        content="Die Band Holidays 2.0 aus Bobenheim-Roxheim bietet mit ihrem einzigartigen Cover-Programm Musik für jedes Fest in der Pfalz. Jetzt für dein Event buchen!"
        customClass="container-fluid">
    <Toast message="Wurde ihr Interesse geweckt? Dann kontaktieren Sie uns doch direkt" title="Hey!"
           destination="/kontakt"/>
    <div class="animated-background d-flex flex-column text-white text-shadow">
        <h1 class="display-5 pt-5 text-center">The Holidays 2.0</h1>
        <div class="d-flex flex-grow-1 gap-xl-5 gap-lg-3 gap-5 justify-content-center align-items-center flex-column">
            <h2 class="display-6 text-center px-2 responsive-text">Wir freuen uns, dass Sie den Weg zu uns gefunden
                haben. Ihre Live-Cover-Band aus Bobenheim-Roxheim mit langjähriger Bühnenerfahrung.</h2>
            <h3 class="display-7 text-center px-2 responsive-text">Sie sind auf der Suche nach einer professionellen
                Live-Cover-Band mit 3-stimmigen Gesang für Ihre Veranstaltung oder regionalen Festivals?</h3>
            <h4 class="display-8 text-center responsive-text">Ihre Suche hat nun ein Ende!</h4>
            <div class="d-flex flex-row gap-3 justify-content-center align-items-center">
                <Cta id="landing-page-cta" target="/kontakt" text="Buchen Sie uns jetzt!"></Cta>
                <Cta id="landing-page-event-cta" target="#events" text="Zu den Auftritten"></Cta>
            </div>
        </div>
    </div>
    <section>
        <h1 class="text-center my-5 py-2 display-6 custom-headline gradient-text"> The Holidays 2.0 auf einen
            Blick: </h1>
        <TextImageSection headline="Gerald Ingermann" imgSrc={Gerald}
                          alt="Porträt von Gerald Ingermann (Keyboard & Gesang)"
                          paragraph="Keyboard & Gesang" orientation="image-right"
                          bgColor="bg-light"/>
        <TextImageSection headline="Bernd Reichenbach" imgSrc={Bernd}
                          alt="Porträt von Bernd Reichenbach (Schlagzeug & Gesang)"
                          paragraph="Schlagzeug & Gesang" orientation="image-left"
                          bgColor=""/>
        <TextImageSection headline="Jürgen Hällmeyer" imgSrc={Juergen}
                          alt="Porträt von Jürgen Hällmeyer (Gitarre & Gesang)"
                          paragraph="Gitarre & Gesang" orientation="image-right"
                          bgColor="bg-light"/>
    </section>
    <div class="d-flex justify-content-center align-items-center py-5">
        <p class="w-100 w-lg-75 text-center fs-2 gradient-text responsive-text">
            Ob Weinfest, Vinothek, Hochzeit, Geburtstag, Oper-Air-Fete oder Firmenevent, wir sorgen für die richtige
            Stimmung.
            Dabei legen wir großen Wert auf die Liedauswahl und unseren Chorgesang.
            Über ein Engagement Ihrerseits würden wir uns sehr freuen, Sie werden es nicht bereuen!.
        </p>
    </div>
    <section class="bg-dark bg-gradient py-3" id="events">
        <h2 class="text-center text-white display-6">Auftritte</h2>
        <div class="d-flex flex-column justify-content-center align-items-center">
            {events.map((event) => (
                    <Card header={event.Date.toLocaleDateString('de-DE') + ' ' + event.Time} title={event.Event}
                          address={event.Location}
                          linkToEvent={event.Link}
                    />
            ))
            }
        </div>
    </section>
</Layout>


