---
import {Image} from "astro:assets";
import "../styles/carousel.css";
import holidaysGroup from '../assets/holidays_group.webp';
import auftrittDirmstein from '../assets/auftritt_dirmstein.webp'
import auftrittDirmstein2 from '../assets/auftritt_dirmstein2.webp'
import auftrittCloseUp from '../assets/auftritt_closeup.webp'
import asselheimerKerwe1 from '../assets/woibeats.webp'
import asselheimerKerwe2 from '../assets/woibeats2.webp'
import rcv from '../assets/rcv.webp'
import rcv2 from '../assets/rcv2.webp'
import hilz from '../assets/hilz.webp'
import hilz2 from '../assets/hilz2.webp'
import auftrittDirmstein3 from '../assets/dirmstein_kerwe.webp'
import auftrittDirmstein4 from '../assets/dirmstein_kerwe2.webp'
import auftrittDirmstein5 from '../assets/dirmstein_kerwe3.webp'
import auftrittDirmstein6 from '../assets/dirmstein_kerwe4.webp'
import auftrittDirmstein7 from '../assets/dirmstein_kerwe5.webp'
---
<div id="carousel" class="carousel slide p-3 mb-5" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="4"
                aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="5"
                aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="6"
                aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="7"
                aria-label="Slide 8"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="8"
                aria-label="Slide 9"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="9"
                aria-label="Slide 10"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="10"
                aria-label="Slide 11"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="11"
                aria-label="Slide 12"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="12"
                aria-label="Slide 13"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="13"
                aria-label="Slide 14"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="14"
                aria-label="Slide 15"></button>

    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <Image src={holidaysGroup} class="d-block w-100 carousel-image" alt="Alle 3 Gruppenmitglieder der Holidays"
                   format="webp" loading="lazy" decoding="async"/>
            <div class="carousel-caption d-none d-md-block">
                <p>The Holidays 2.0</p>
            </div>
        </div>
        <div class="carousel-item">
            <Image src={auftrittDirmstein} class="d-block w-100 carousel-image" alt="The Holidays in Dirmstein"
                   format="webp" loading="lazy" decoding="async"/>
            <div class="carousel-caption d-none d-md-block">
                <p>The Holidays goes Dirmsteiner Kerwe</p>
                <p>Links Jürgen, Mitte Bernd, Rechts Gerald</p>
            </div>
        </div>
        <div class="carousel-item">
            <Image src={auftrittDirmstein2} class="d-block w-100 carousel-image"
                   alt="The Holidays in Dirmstein auf der Bühne" format="webp" loading="lazy" decoding="async"/>
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        <div class="carousel-item">
            <Image src={asselheimerKerwe1} class="d-block w-100 carousel-image"
                   alt="The Holidays auf der Asselheimer Kerwe" format="webp" loading="lazy" decoding="async"/>
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        <div class="carousel-item">
            <Image src={asselheimerKerwe2} class="d-block w-100 carousel-image"
                   alt="The Holidays auf der Asselheimer Kerwe" format="webp" loading="lazy" decoding="async"/>
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        <div class="carousel-item">
            <Image src={auftrittDirmstein3} class="d-block w-100 carousel-image"
                   alt="The Holidays auf der Dirmsteiner Kerwe" format="webp" loading="lazy" decoding="async"/>
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        <div class="carousel-item">
            <Image src={auftrittDirmstein4} class="d-block w-100 carousel-image"
                   alt="The Holidays auf der Dirmsteiner Kerwe bei Nacht" format="webp" loading="lazy"
                   decoding="async"/>
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        <div class="carousel-item">
            <Image src={auftrittDirmstein5} class="d-block w-100 carousel-image"
                   alt="The Holidays auf der Dirmsteiner Kerwe" format="webp" loading="lazy" decoding="async"/>
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        <div class="carousel-item">
            <Image src={auftrittDirmstein6} class="d-block w-100 carousel-image"
                   alt="The Holidays auf der Dirmsteiner Kerwe" format="webp" loading="lazy" decoding="async"/>
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        <div class="carousel-item">
            <Image src={auftrittCloseUp} class="d-block w-100 carousel-image"
                   alt="The Holidays zusammen auf der Bühne" format="webp" loading="lazy" decoding="async"/>
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        <div class="carousel-item">
            <Image src={auftrittDirmstein7} class="d-block w-100 carousel-image"
                   alt="The Holidays auf der Dirmsteiner Kerwe" format="webp" loading="lazy" decoding="async"/>
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        <div class="carousel-item">
            <Image src={rcv} class="d-block w-100 carousel-image"
                   alt="The Holidays beim RCV" format="webp" loading="lazy" decoding="async"/>
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        <div class="carousel-item">
            <Image src={rcv2} class="d-block w-100 carousel-image"
                   alt="The Holidays beim RCV auf der Bühne" format="webp" loading="lazy" decoding="async"/>
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        <div class="carousel-item">
            <Image src={hilz} class="d-block w-100 carousel-image"
                   alt="The Holidays bei Klaus Hilz" format="webp" loading="lazy" decoding="async"/>
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        <div class="carousel-item">
            <Image src={hilz2} class="d-block w-100 carousel-image"
                   alt="The Holidays bei Klaus Hilz auf der Bühne" format="webp" loading="lazy" decoding="async"/>
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>