---
import {Image} from "astro:assets";
import "../styles/carousel.css";
import holidaysGroup from '../assets/holidays_group.webp';
import auftrittDirmstein from '../assets/auftritt_dirmstein.webp'
import auftrittDirmstein2 from '../assets/auftritt_dirmstein2.webp'
import auftrittCloseUp from '../assets/auftritt_closeup.webp'
---
<div id="carousel" class="carousel slide p-3 mb-5" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <Image src={holidaysGroup} class="d-block w-100 carousel-image" alt="Alle 3 Gruppenmitglieder der Holidays" format="webp" loading="lazy" decoding="async"/>
            <div class="carousel-caption d-none d-md-block">
                <p>The Holidays 2.0</p>
            </div>
        </div>
        <div class="carousel-item">
            <Image src={auftrittDirmstein} class="d-block w-100 carousel-image" alt="The Holidays in Dirmstein" format="webp" loading="lazy" decoding="async"/>
            <div class="carousel-caption d-none d-md-block">
                <p>The Holidays goes Dirmsteiner Kerwe</p>
                <p>Links Jürgen, Mitte Bernd, Rechts Gerald</p>
            </div>
        </div>
        <div class="carousel-item">
        <Image src={auftrittDirmstein2} class="d-block w-100 carousel-image" alt="The Holidays in Dirmstein auf der Bühne" format="webp" loading="lazy" decoding="async"/>
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        <div class="carousel-item">
            <Image src={auftrittCloseUp} class="d-block w-100 carousel-image" alt="The Holidays zusammen auf der Bühne" format="webp" loading="lazy" decoding="async"/>
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>